# dependencies
/node_modules
package-lock.json
*.log
*.gz
# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

#Runtime data
pids
*.pids
*.seed
*.pid.lock

#misc
.DS_Store
